@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css?family=Poppins:regular,medium,bold,italic&subset=latin,latin-ext');

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
        'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

input[type='checkbox'] + label span {
    transition: background 0.2s, transform 0.2s;
}

input[type='checkbox'] + label span:hover,
input[type='checkbox'] + label:hover span {
    transform: scale(1.2);
}

input[type='checkbox']:checked + label span {
    background-color: #a897f1;
    box-shadow: 0px 0px 0px 2px white inset;
}
